*.psd filter=lfs diff=lfs merge=lfs -text
aerosim filter=lfs diff=lfs merge=lfs -text
aerosim/ProjectSettings filter=lfs diff=lfs merge=lfs -text
aerosim/Assets filter=lfs diff=lfs merge=lfs -text
aerosim/Packages filter=lfs diff=lfs merge=lfs -text
